@model HaverProject.Models.NCR

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NCR</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NCRNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NCRNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PONumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PONumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierOrRecInspID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierOrRecInspID)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDefected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDefected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemProblem.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemProblem.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionDefect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionDefect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMarked.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemMarked.Name)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentativesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentativesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseAsIsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseAsIsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerYes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerYes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerNO)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrawingYes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrawingYes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrawingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrawingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalRev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalRev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedRev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedRev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfEngineer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfEngineer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engineer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engineer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reviewyes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewyes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.reviewno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.reviewno)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreliminaryDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreliminaryDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CARYes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CARYes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CARNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CARNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowupYes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowupYes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowupNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowupNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingManagerName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
