@model HaverProject.Models.NCR


@{
    ViewData["Title"] = "Details";
}


<h4 style="text-align:center">Main Details</h4>
<hr />

<table class="table table-bordered table-responsive table-hover">
    <tr style="text-align:center">
        <th style="color:#0C2340; font-weight:bold">HAVER & BOECKER CANADA</th>
        <th>INTERNAL PROCESS DOCUMENT</th>
        <th colspan="2"><img src="~/images/Logo_NCR.png" height="100px" width="130px" /></th>
    </tr>
    <tr style="text-align:center">
        <td>Document No. :</td>
        <td>Document title</td>
        <td colspan="2">Page of:</td>
    </tr>
    <tr style="text-align:center">
        <th>OPS-00011</th>
        <th>Non-Conformance Report</th>
        <th colspan="2">1 of 3</th>
    </tr>
    <tr>
        <th>
            Identify Process Applicable:
        </th>
        <td>

            @Html.DisplayFor(model => model.SupplierOrRecInsp.Name)
        </td>

        <th>
            Supplier Name:
        </th>
        <td>
           @Html.DisplayFor(model => model.Supplier.Name )
           
        </td>

        <th>NCR No.</th>
        <td>
            @Html.DisplayFor(model => model.NCRNumber)
        </td>
    </tr>
</table>

<h4 style="text-align:center">Further Details</h4>
<hr />
<div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>PO or PROD No.</th>
            <td>
                @Html.DisplayFor(model => model.PONumber)
            </td>
            <td colspan="2"></td>

        </tr>
        <tr>
            <th>Sales Order No.</th>
            <td>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Description of Item (including SAP No.):</strong><br />
                @Html.DisplayFor(model => model.ItemProblem.Name)
            </td>
            <th>Quantity Received:</th>
            <td>
                @Html.DisplayFor(model => model.QuantityReceived)
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <th>Quantity Defective:</th>
            <td>
                @Html.DisplayFor(model => model.QuantityDefected)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>Description of Defect:(in as much detail as possible, use page 2 if necessary): </strong><br />
                @Html.DisplayFor(model => model.DescriptionDefect)
            </td>
        </tr>
        <tr>
            <th>
                Item marked Nonconforming
            </th>
            <td>
                <label style="font-weight:400">
                    @Html.DisplayFor(model => model.ItemMarked.Name)
                </label>
            </td>

            <td colspan="3" style="text-align:end">
                Completed NCR to be forwarded to HBC Engineering and<br />
                Operations Manager complete with any relevant documents<br />
                attached (pictures, actual measurements, material certs, etc.)
            </td>
        </tr>
        <tr style="text-align:end">
            <td colspan="2">
                <strong>Quality Representative's Name: </strong><br />
                @Html.DisplayFor(model => model.RepresentativesName)
            </td>
            <td colspan="2">
                <strong>Date</strong><br />
                @Html.DisplayFor(model => model.Date)
            </td>
        </tr>
        <tr>
            <td>
                @{
                    if (Model.NCRPhotos?.Any() ?? false)
                    {
                        foreach (var image in Model.NCRPhotos)
                        {
                            string imageBase64 = Convert.ToBase64String(image.Content);
                            string imageSrc = string.Format("data:" + image.MimeType + ";base64,{0}", imageBase64);
                            <img src="@imageSrc" alt="Customer Image" title="Customer Image" class="img-fluid rounded" />
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <th>Video</th>
            <td>
                <a href="@Model.Video">@Html.Raw(Model.Video)</a>
            </td>
            <td colspan="2"></td>
        </tr>
    </table>



</div>
<div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td><strong>Review by HBC Engineering:</strong> (indicate disposition by "checking" one of the following)</td>
            <td>
                <br />
                @Html.DisplayFor(model => model.UseAsIs.Name)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Does Customer require notification of NCR </strong><br />
                (If "Yes" then raise message to customer detailing issues)
            </td>
            <td colspan="2" style="text-align:end">
                @Html.DisplayFor(model => model.CustomerYes) YES
            </td>
            <td colspan="2" style="text-align:end">
                @Html.DisplayFor(model => model.CustomerNO) NO
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <strong>Disposition</strong> (Sequence of work steps required when "repair" or "rework" indicated) :<br />
                @Html.DisplayFor(model => model.Disposition)
            </td>
        </tr>
        <tr>
            <td>Does the drawing require updating</td>
            <td>
                @Html.DisplayFor(model => model.DrawingYes) Yes
            </td>
            <td colspan="3">
                @Html.DisplayFor(model => model.DrawingNo) No
            </td>
        </tr>
        <tr>
            <td>Original Rev. Number:</td>
            <td>
                @Html.DisplayFor(model => model.OriginalRev)
            </td>
            <td>Updated Rev. Number: </td>
            <td colspan="2">
                @Html.DisplayFor(model => model.UpdatedRev)
            </td>
        </tr>
        <tr>
            <td>Name of Engineer:</td>
            <td>
                @Html.DisplayFor(model => model.NameOfEngineer)
            </td>
            <td>Revision Date:</td>
            <td colspan="2">
                @Html.DisplayFor(model => model.RevisingDate)
            </td>
        </tr>
        <tr style="text-align:end">
            <td colspan="3">
                <strong>Engineering:</strong><br />
                @Html.DisplayFor(model => model.Engineer)
            </td>
            <td colspan="2">
                <strong>Date</strong><br />
                @Html.DisplayFor(model => model.Date)
            </td>
        </tr>
    </table>

</div>
<div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th colspan="4">Purchasing's Preliminary Decision:</th>
            <td></td>
        </tr>
        <tr style="text-align:end">
            <td>
                @Html.DisplayFor(model => model.reviewyes) Yes
            </td>
            <td>
                @Html.DisplayFor(model => model.reviewno) No
            </td>


        <tr>

            <td>
                &nbsp;&nbsp;&nbsp;   @Html.DisplayFor(model => model.PreliminaryDecision)
            </td>
        </tr>


        <tr>
            <td>Was a CAR raised?</td>
            <td>
                    @Html.DisplayFor(model => model.CARYes) Yes
            </td>
            <td>
                    @Html.DisplayFor(model => model.CARNo) No
            </td>
            <td colspan="2">If "Yes" indicate CAR #</td>
        </tr>
        <tr>
            <td>Follow-up Required?</td>
            <td>
                    @Html.DisplayFor(model => model.FollowupYes) Yes
            </td>
            <td>
                    @Html.DisplayFor(model => model.FollowupNo) No
            </td>
            <td colspan="2">If "Yes" indicate type & expected date</td>
        </tr>
        <tr style="text-align:end">
            <td colspan="3">
                <strong>Operations Manager: </strong><br />
                    @Html.DisplayFor(model => model.OperatingManagerName)
            </td>
            <td colspan="2">
                <strong>Date</strong><br />
                    @Html.DisplayFor(model => model.Date)
            </td>
        </tr>
    </table>

</div>
<div>

    <table class="table table-bordered table-responsive table-hover">

        <tr>
            <td>	Re-Inspected Acceptable?</td>
            <td>
                @Html.DisplayFor(model => model.reinyes) Yes
            </td>
            <td>
                @Html.DisplayFor(model => model.reino) No
            </td>
            <td colspan="2">(If "No" then record new NCR number)</td>
        </tr>
        <tr>

        <tr style="text-align:end">
            <td colspan="3">
                <strong>New Ncr No. </strong><br />
                    @Html.DisplayFor(model => model.newNcrnno)
            </td>
            <td colspan="3">
                <strong>Inspector's Name </strong><br />
                    @Html.DisplayFor(model => model.InspectorName)
            </td>
            <td colspan="2">
                <strong>Date</strong><br />
                    @Html.DisplayFor(model => model.finalDate)
            </td>
        </tr>
        <tr>
        <tr style="text-align:end">
            <td colspan="3">
                <strong>Ncr Closed</strong><br />
            <td>
                            @Html.DisplayFor(model => model.ncrclosenyes) Yes
            </td>
            <td>
                            @Html.DisplayFor(model => model.ncrcloseno) No
            </td>
            </td>
            <td colspan="3">
                <strong>Quality Department</strong><br />
                        @Html.DisplayFor(model => model.Qualitydepartment)
            </td>
            <td colspan="2">
                <strong>Date</strong><br />
                        @Html.DisplayFor(model => model.finalDate)
            </td>
        </tr>
    </table>

</div>

